@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

.shadow-md {
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}
.navbar {
  border-radius: 5px;
}
.sidebar {
  width: 450px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  transition: 0.5s;
}
.sidebar.active {
  right: 0;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.bottom__btn69 {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.fill__btn69 {
  @apply bg-gray-300 text-gray-800 flex justify-center items-center h-10 w-24 border-none cursor-pointer rounded;
}

.generate__btn69 {
  @apply bg-primary;
}

.css-1p3m7a8-multiValue {
  @apply !text-white !bg-primary !rounded-full;
}

.css-wsp0cs-MultiValueGeneric,
.css-9jq23d {
  @apply !text-white !pl-3;
}

.css-12a83d4-MultiValueRemove:hover,
css-v7duua:hover {
  background: none !important;
  color: #fff !important;
}

.up-btn-primary {
  background-color: var(--btn-primary-bg) !important;
}

.Typewriter {
  font-size: 14px;
  padding: 10px;
  max-height: 175px;
  overflow-y: auto;
}
/* w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline */
.selectLinkedin69 {
  @apply rounded-lg appearance-none focus:outline-none focus:ring-0 bg-transparent mt-2;
  width: 100%;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 12px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.divLinkedin__moreBtn69 {
  /* @apply border flex justify-between items-center rounded-lg mt-4 py-1 w-full; */
  /* border: 1px solid #e5e5e5; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 1rem;
  /* padding: 0.25rem 0.5rem; */
  width: 100%;
}
.divLinkedin__moreBtn69 > input {
  /* @apply w-max h-10 px-2 text-sm text-white bg-transparent border-none focus:outline-none; */
  @apply border-none border-transparent focus:outline-none;
  width: 100%;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 12px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
.divLinkedin__moreBtn69 > button {
  /* @apply w-20 h-10 mr-1 text-sm text-white bg-primary rounded-lg border-none focus:outline-none; */
  @apply bg-primary rounded-lg focus:outline-none border-none border-transparent;
  width: 80px;
  height: 35px;
  margin-right: 0.25rem;
  font-size: 12px;
  color: #fff;
  padding: 0 0.5rem;
  margin-left: 6px;
}
