@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

.shadow-md {
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}
.navbar {
  border-radius: 5px;
}
.sidebar {
  width: 450px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  transition: 0.5s;
}
.sidebar.active {
  right: 0;
}

.fnt__family69 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.bottom__btn69 {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.fill__btn69 {
  @apply bg-gray-300 text-gray-800 flex justify-center items-center h-10 w-24 border-none cursor-pointer rounded outline-none;
}

.generate__btn69 {
  @apply bg-primary text-white rounded-lg w-1/2 flex items-center justify-center text-sm  h-11 border-none outline-none;
}

.css-1p3m7a8-multiValue {
  @apply !text-white !bg-primary !rounded-full;
}

.css-wsp0cs-MultiValueGeneric,
.css-9jq23d {
  @apply !text-white !pl-3;
}

.css-12a83d4-MultiValueRemove:hover,
css-v7duua:hover {
  background: none !important;
  color: #fff !important;
}

.up-btn-primary {
  background-color: var(--btn-primary-bg) !important;
}

.Typewriter {
  font-size: 14px;
  padding: 10px;
  max-height: 175px;
  overflow-y: auto;
}
/* w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline */
.selectLinkedin69 {
  @apply rounded-lg appearance-none focus:outline-none focus:ring-0 bg-transparent mt-2 dark:text-white text-black;
  width: 100%;
  height: 35px;
  padding: 0 1rem;
  font-size: 12px;
  background-color: transparent !important;
  border: none;
  outline: none;
}

.divLinkedin__moreBtn69 {
  /* @apply border flex justify-between items-center rounded-lg mt-4 py-1 w-full; */
  /* border: 1px solid #e5e5e5; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 1rem;
  /* padding: 0.25rem 0.5rem; */
  width: 100%;
}
.divLinkedin__moreBtn69 > input {
  /* @apply w-max h-10 px-2 text-sm text-white bg-transparent border-none focus:outline-none; */
  @apply border-none border-transparent focus:outline-none dark:text-white text-black placeholder-white;
  width: 100%;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}
.divLinkedin__moreBtn69 > button {
  /* @apply w-20 h-10 mr-1 text-sm text-white bg-primary rounded-lg border-none focus:outline-none; */
  @apply bg-primary rounded-lg focus:outline-none border-none border-transparent;
  width: 80px;
  height: 35px;
  margin-right: 0.25rem;
  font-size: 12px;
  color: #fff;
  padding: 0 0.5rem;
  margin-left: 6px;
}

.div__parentLinkedin69 {
  @apply w-[30rem] rounded-lg bg-dark flex flex-col space-y-6 p-4 border border-primary;
}

.cmn__cls69 {
  @apply flex items-start space-x-4;
}

.disabled__cls69 {
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

.linkedin__dropCol69 {
  @apply font-medium text-white;
}
.linkedin__dropCol691 {
  @apply font-normal text-lightPurple2;
}

.linkedin__cmn2 {
  @apply flex flex-col -mt-[2px];
}

.twitter__parent69 {
  @apply w-96 rounded-lg bg-dark flex flex-col space-y-6 p-4 z-50 border border-primary;
}

.twitter__select69 {
  @apply w-full mt-3 px-4 h-11 bg-transparent border border-white rounded-lg text-white;
}

.sb_btm69 {
  @apply flex absolute gap-2 bottom-2 bg-white w-11/12 border-t pt-3;
}

.cancel__btn69 {
  @apply border text-gray-700 rounded-lg w-1/2 flex items-center justify-center text-sm h-11 border-gray-300 outline-none;
}

.cursor__cls69 {
  @apply cursor-not-allowed;
}

.cmn__cls3 {
  @apply flex items-start;
}

.result__txtArea {
  @apply w-full p-2 focus:outline-none resize-none text-sm h-full;
}
.result__txtAreaParent {
  @apply border border-gray-200 rounded-lg border-none;
}

.txt__primary {
  @apply text-primary;
}

.lottie__div69 {
  @apply w-full flex flex-col items-center border border-gray-200 p-4 rounded;
}

.addition__infoInp9 {
  @apply w-full border border-gray-200 text-sm placeholder:text-sm p-2 rounded focus:outline-none focus:ring-1 ring-primary transition duration-300;
}

.cmn__txtCol {
  @apply text-gray-600 text-xs font-medium;
}

.width__cls69 {
  @apply w-full mt-1;
}
.width__half69 {
  @apply w-1/2;
}

.div__parentHorizontal69 {
  @apply flex gap-4 w-full;
}
.selProfileDiv {
  @apply flex flex-col space-y-3;
}

.jd__div69 {
  @apply flex items-center border border-primary bg-lightPurple px-2 rounded-lg py-2 mt-3;
}

.jd__heading69 {
  @apply text-primary font-medium w-[64px] text-sm;
}
.jd__title69 {
  @apply text-gray-700 truncate w-80 text-sm;
}

.main__title69 {
  @apply mt-6 text-gray-700 font-medium text-base;
}

.sb__loginBtn {
  @apply px-12 h-12 rounded-md text-gray-600 font-medium text-sm mt-5 flex items-center justify-center border hover:bg-gray-100 transition duration-300;
}

.sb__loginBtndisabled {
  @apply cursor-not-allowed bg-zinc-100 text-gray-500;
}

.csr__pointer {
  @apply cursor-pointer;
}

.loader_cls {
  @apply w-5 h-5 ml-3 text-gray-800;
}
.sb__loginContainer {
  @apply flex flex-col items-center justify-center h-screen px-6;
}
.sb__loginContainertxt {
  @apply text-3xl font-bold text-gray-700;
}
.sb__loginContainerdesc {
  @apply mt-2 text-gray-500 text-sm;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

#ctOpen69 {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: transparent;
  text-transform: none;
  -webkit-appearance: button;
}

.cstm__selectbtn {
  @apply text-primary w-full px-4 pt-2 pb-3 flex items-center border-none bg-transparent outline-none;
}

.cmnLabel__addPfp {
  @apply text-gray-600 text-sm mb-1;
}

.cmnDes__addPfp {
  @apply border border-gray-200 rounded px-2 h-10 text-sm placeholder:text-sm transition duration-300 outline-none focus:outline-none;
}

.txt__addPfp {
  @apply border border-gray-200 rounded p-2 transition duration-300 focus:outline-none focus:ring-1 focus:ring-primary resize-none;
}

.cancelBtn__addPfp {
  @apply flex items-center justify-center rounded-md bg-gray-100 px-4 w-1/2 h-11 text-sm font-medium text-gray-700 border border-gray-200 outline-none focus:outline-none;
}

.addPfp__btn {
  @apply flex items-center justify-center rounded-md generate__btn69 px-4 w-1/2 h-11 text-sm font-medium text-white;
}

.btns__parentPfp {
  @apply flex px-4 space-x-2 w-full absolute bottom-2 left-0;
}

.pfp__h1 {
  @apply text-base font-medium text-gray-700;
}

.pfp__h2 {
  @apply text-xs text-gray-500;
}

#vakyaBtn69 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
